
.dash-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 20px;
  width: 15%;
  float: left;
}
.admin-body-card{
  float: left;
  width: 82%;
  margin-left: 18%;
}
.dash-sideNav{
  float: left;
  width: 18%;
  position: fixed;
  top: 0%;
  background-color: #dc4131;
  text-align: center;
  color: white;
}
.bg-body-tertiary{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 40px;
}
.container-fluid{
  float: right !important;
}