.footer {
  background-image: linear-gradient(180deg,#dc4131,#e27439);
  color: #fff;
  width: 100%;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: 0%;
}
.footer-contact{
  width: 50%;
  float: left;
  text-decoration: none;
  text-align: center;
}
.footer-links{
  width: 50%;
  float: left;
  text-align: center;

}
li{
  list-style-type: none;
}
a{
  color: #fff;
  text-decoration: none;
}
.footer-bottom{
  text-align: center;
}